<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">


    <title>TouchPad</title>

    <style>
        * {
            border: 0;
            margin: 0;
            box-sizing: border-box;


            user-select: none;
        }

        body {
            background-color: black;
        }
    </style>

</head>

<body>


    <script>
        const URL = "{% url 'controller_app:touch' %}";
        const CSRF = "{{ csrf_token }}";


        function move(x, y) {
            fetch(URL, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json", // Corrected content type
                    "X-CSRFToken": CSRF,
                },
                body: JSON.stringify({x: x * 10, y: y * 10})
            });
        }

        document.addEventListener("click", function (e) {
            if (!document.fullscreen) {
                document.documentElement.requestFullscreen();
            }
        });

        let initialX, initialY;

        document.addEventListener("touchstart", function (event) {
            const ev = event.touches[0];
            initialX = ev.clientX;
            initialY = ev.clientY;
        });

        document.addEventListener("touchmove", function (event) {
            const ev = event.touches[0];

            const deltaX = ev.clientX - initialX;
            const deltaY = ev.clientY - initialY;

            // Update initial positions
            initialX = ev.clientX;
            initialY = ev.clientY;

            // Throttle the move function calls

            move(deltaX, deltaY);

        });
    </script>


</body>

</html>